* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 550px;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1em;
  overflow: hidden;
}

.header-container{
  height: 15%;
  width: 100%;
  background: #03812d71;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1em 1em 0em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.daynames-container{
  background: #e6c6c6a6;
  width: 100%;
  height: 8%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-items: center;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-bottom: 1px solid rgb(209, 191, 191);
}

.days-container{
  width: 100%;
  height: 77%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.day-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
